

<div class="signup-card">
    <div class="card-title">
        <h1>Create Account</h1>
        
    </div>
    <form class="form-group" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <input type="text" name="name" placeholder="Name" formControlName="name">
        <input type="text" name="surname" placeholder="Surame" formControlName="surname">
        <input type="text" name="vat" placeholder="Vat" formControlName="vat">
        <input type="text" name="address" placeholder="Address" formControlName="address">
        <input type="phoneNumber" name="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber">
        <input type="email" name="email" placeholder="Email" formControlName="email">
        <input type="password" name="password" placeholder="Password" formControlName="password">
        
        <div class="btn"> <input type="submit" value="Signup"></div>
       
    </form>

    <span>Already have an account? <a routerLink="/login">Sign In</a></span>
    <!-- <div class="card-terms">
        <input type="checkbox"> <span>I have read and agree to the <a href="">Terms of Service</a></span>
    </div> -->
</div>
