/* Κεντρική τοποθέτηση φόρμας */
.parent-container {
    display: flex;
    justify-content: center; /* Τοποθετεί τη φόρμα στο οριζόντιο κέντρο */
    align-items: center; /* Τοποθετεί τη φόρμα στο κάθετο κέντρο */
    height: 100vh;
    background-color: #004c99;
    position: relative; /* Για να διατηρήσουμε τη θέση του τίτλου */
}

/* Τίτλος της εφαρμογής */
.app-title {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 2; /* Πάνω από την εικόνα φόντου */
}

/* Μήνυμα κάτω από τον τίτλο */
.app-message {
    margin-top: 10px;
    font-size: 16px;
    color: #f1f1f1;
    font-weight: 300;
    text-align: center;
}

/* Προσαρμογές για τη φόρμα */
.login-container {
    background-color: #f9fbfc;
    padding: 50px 40px; /* Αυξημένο padding */
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* Εικόνα στην αρχή της φόρμας */
.form-header {
    margin-bottom: 30px; /* Μεγαλύτερο κενό */
    text-align: center;

    .login-icon {
        width: 80px;
        height: 80px;
        object-fit: contain;
        border-radius: 50%;
        border: 2px solid #ccc;
    }
}

/* Πεδία και κουμπιά της φόρμας */
.form-group {
    margin-bottom: 20px; /* Αυξημένο κενό ανάμεσα στα πεδία */
    text-align: left;
    width: 100%;
}

.login-container label {
    display: block;
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}

.login-container input {
    padding: 12px; /* Μεγαλύτερο padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.login-container button {
    margin: 25px 0 5px 0;
    padding: 12px 25px; /* Μεγαλύτερο padding */
    background-color: #004c99;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: auto; /* Εξασφαλίζει ότι το κουμπί θα έχει μόνο το μέγεθος που χρειάζεται */
    text-align: center; /* Κεντράρει το περιεχόμενο του κουμπιού */
}

.login-container button:hover {
    background-color: #cccccc;
}

/* Μήνυμα αποτυχίας login */
.error-message {
    margin-top: 20px;
    color: red;
}

/* Προτροπή για εγγραφή */
.sign-up-prompt {
    margin-top: 80px; /* Μεγαλύτερο κενό */
    color: rgb(15, 15, 15);
}

/* Γονικό στοιχείο για το κουμπί */
.button-wrapper {
    display: flex;
    justify-content: center; /* Κεντράρει το κουμπί οριζόντια */
    width: 100%; /* Χρησιμοποιεί όλο το διαθέσιμο πλάτος */
}