<div class="parent-container">

    <!-- Τίτλος της εφαρμογής -->
    <div class="app-title">
        <h1>Technico</h1>
    </div>

    <!-- Login Form Section -->
    <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <!-- Εικόνα μέσα στη φόρμα -->
            <div class="form-header">
                <img src="assets/images/th.jpg" alt="Login Icon" class="login-icon">
            </div>

            <span class="login-details">Please use your credentials to sign in</span>

            <!-- Email Field -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input
                    id="email"
                    type="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Enter your email"
                    required
                />
            </div>

            <!-- Password Field -->
            <div class="form-group">
                <label for="password">Password:</label>
                <input
                    id="password"
                    type="password"
                    formControlName="password"
                    class="form-control"
                    placeholder="Enter your password"
                    required
                />
            </div>
            <span *ngIf="loginFailed" class="error-message">Login Failed</span>

           <!-- Κουμπί -->
<div class="button-wrapper">
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
        Login
    </button>
</div>
            <span class="sign-up-prompt">You don't have an account? <a routerLink="/signup">Sign up</a></span>
        </form>
    </div>
</div>
