body {
  margin: 0;
  
  width: 100%;
 max-width: 100%;
padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  overflow-x: hidden;
}

h2.title {
  text-align: center;
  color: black;
  margin: 20px 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 27px;
}



.container {
    // margin: 40px 10px;
    // padding: 10px;
    // max-width: 100%;
    // // width: 100%;
    // border: 1px solid #ddd;
    border-radius: 8px;
    // background-color: #f9f9f9;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 40px 10px;
    padding: 10px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }


  .title-button-container {
    margin: 0 20px;
    display: flex;
    flex-direction: column; /* Αυτό θα τοποθετήσει τα κουμπιά κάτω από τον τίτλο */
    // align-items: center; /* Κεντράρει τα κουμπιά και τον τίτλο */
    padding-left: 60px;
  }

  
  button {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(66, 149, 244);
  }

  .button-container :hover {
    background-color: rgb(66, 149, 244);  }

table {
    // // display: flex;
    // // flex: row;
    width: 100%;
    border-collapse: collapse;
    // margin: 20px 0;
    font-size: 16px;
    text-align: right;
    // border-bottom: 1px sol;
  }
  
// //   /* Table header styling */
  table thead th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    padding: 12px 0;
    border-bottom: 2px solid #ddd;
    border-collapse: collapse;
   
  }
  
//   /* Table body row styling */
  table tbody tr {
    border-bottom: 1px solid  #ddd;
    // font-weight: bold;
    color: #333;
    border-collapse: collapse;
    
    
  }
  

  

  
//   /* Table cell styling */
  table tbody td, .table tbody th {
    padding: 12px 0;
    border-bottom: 1px;
    border-collapse: collapse;
  }
  
//   /* Highlight for pending status */
  table tbody td:nth-child(9) {
    font-weight: bold;
    color: #e67e22; /* Orange color for pending status */
  }
  
  /* Styling for 'No property repairs pending' message */
  .no-repairs-message {
    font-size: 18px;
    color: #777;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {

    .button-container{
      margin: auto;
      display: flex;
      align-self: flex-end;
    }

    // .title-button-container{
    //   margin: 0 12px;
    // }

    .container {
      width: auto;
      // margin: 20px;
    }
    .table {
      font-size: 14px;
      border-collapse: collapse;
      text-align: left;
    }
    .table thead {
      display: none;/* Hide header for mobile */
    }

    .table tbody td {
      // width: 100%;
      display: flex;
      padding:4px;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      margin: 5px 0;
      
     
      text-align: left;

    }
   

  
    .no-repairs-message {
      font-size: 16px;
    }
  }
  
  .content {
    padding-left: 60px;
  }
  
