<app-navbar></app-navbar>

<!-- Κεντραρισμένος τίτλος -->
<h2 class="title">Ongoing Repairs - Today</h2>

<div class="container" *ngIf="propertyRepair && propertyRepair.length > 0">
  <div class="group" *ngFor="let repair of propertyRepair">
    <p>Owner Vat: {{ repair.vat }}</p>
    <p>Repair Id: {{ repair.id }}</p>
    <p>Repair Date: {{ repair.repairDate }}</p>
    <p>Repair Type: {{ repair.typeOfRepair }}</p>
    <p>Repair Description: {{ repair.description }}</p>
  </div>
  <p *ngIf="!propertyRepair || propertyRepair.length === 0">No repairs for today.</p>
</div>



