.footer {
  background-color: #333333;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1; /* Χαμηλότερο από το navbar για να είναι το μενού πάνω από το footer */
  margin-top: 60px;
  
}



.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-info {
  margin-bottom: 15px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info a {
  color: white;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 14px;
  color: #ccc;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

  